.article-title{
  display: inline-block;
    max-width: 346.152px;
    position: relative;
    left: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
}


.article-image{
  position: relative;
  left: 159px;

}

.image-text{
  color:gray;
  

}

.credits{
  color:gray;
  
}

.author{
  left: 430px;
  position: relative;
  
}

.date-of-article{
  position: relative;
  left: 430px;
  color: gray;
}

.text-block-1{
  position: relative;
  margin-left: 430px;
  margin-right : 300px;
  font-size: 20px;
}

.inflation-explanation{
  margin-left: 430px;
  margin-right : 300px;
}

.inflation-1{
  margin-left: 430px;
  margin-right : 300px;
}

.text-block-2{
  margin-left:430px;
  margin-right : 300px;
  font-size: 20px;
}

.video{
  margin-left:430px;
  margin-right : 300px;
}

.credit{ 
  color:gray;
}

.text-block-3{
  margin-left:430px;
  margin-right : 300px;
  font-size: 20px;
}

.bicep2-image{
  margin-left:430px;
  margin-right : 300px;
}

.image-text2{
  margin-left:430px;
  margin-right : 300px;
  color:gray;

}

.credits-2{
  color:gray;
  margin-left:430px;

}

.text-block-4{
  margin-left:430px;
  margin-right : 300px;
  font-size: 20px;
}