.article-title{
  display: inline-block;
    max-width: 346.152px;
    position: relative;
    left: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
}


.article-image{
  position: relative;
  left: 159px;

}

.image-text{
  color:gray;
  

}

.credits{
  color:gray;
  
}

.author{
  position: relative;
  
}

.date-of-article{
  position: relative;
  color: gray;
}

.text-block-1{
  position: relative;
  font-size: 20px;
}

.inflation-explanation{
}

.inflation-1{
  background-image: url(images/inflation-1.png);
  background-size: 720px 648px;
  width: 720px;
  height: 550px;
 
}

.text-block-2{
  font-size: 20px;
}

.video{
}

.credit{ 
  color:gray;
}

.text-block-3{

  font-size: 20px;
}

.bicep2-image{

}

.image-text2{

  color:gray;

}

.credits-2{
  color:gray;
  font-size: 12px;

}

.text-block-4{

  font-size: 20px;
}

.margin-left-right{
  margin-left: 430px;
  margin-right: 300px;
}